@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Poppins', 'Inter', sans-serif;
  }
}
@layer components {
  .btn-primary {
    @apply bg-teal-500  text-white font-semibold m-2 px-4 py-2 rounded-lg;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
